.counter{
    background-image: url('../../public/img/sss.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-attachment: fixed;

    height: 300px;
    width: 100%;
}